minecraft-launcher-lib>=8.0
cryptography>=41.0.0
minecraft-forgepy>=1.0
requests>=2.28.0
logzero>=1.7.0
pyautogui>=0.9.53
tqdm>=4.64.0
keyboard>=0.13.5
customtkinter>=5.2.0
tkinterdnd2>=0.4.0
orjson>=3.9.0
aiohttp>=3.9.0
rarfile>=4.1
pygame>=2.5.0
mutagen>=1.46
winsdk>=0.0.33
